    html {
        font-family: "Kanit", sans-serif;
        background-color: #E3F4F4;
    }
   
   header {
    background-color: #C4DFDF;
    color: #0F4C75;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  .nav1 {
    background-color: #D2E9E9;
    color: #FFE6E6;
    padding: 10px;
    text-align: center;
  }
  
  .nav1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav1 li {
    display: inline-block;
    margin-right: 40px;
  }
  
  .nav1 a {
    color: #0F4C75;
    text-decoration: none;
  }

img {
    max-width: 100%; 
    height: auto;
}
.nav2 {
  background-color: #F7F9F2;
  color: #77E4C8;
  padding: 10px;
  text-align: left;
}

.nav2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav2 li {
  display: inline-block;
  margin-right: 20px;
}

.nav2 a {
  color: #36C2CE;
  text-decoration: underline;
    text-decoration-thickness: 3px;
  text-decoration-color: #478CCF;
}
#BestRate {
  color: #77E4C8;
}
#SmallPic {
  max-width: 50%; 
    height: auto;
}
.nav3 {
  background-color: #3282B8;
  color: #000000;
  padding: 10px;
  text-align: left;
}

.nav3 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav3 a {
  color: #BBE1FA;
  text-decoration: underline;
    text-decoration-thickness: 3px;
  text-decoration-color: #0F4C75;
}
#icon{
  width:40px;
}